*{
    font-size: 14.5px;
}

.cursor-pointer{
    cursor: pointer;
}
.text-decoration-line-through{
    text-decoration: line-through;
}

.color-custom-warning{
    color: #ff9f43;
}
.color-custom-primary{
    color: #48dbfb;
}
.color-custom-success{
    color: #1dd1a1;
}
.color-custom-danger{
    color: #e74c3c;
}

#page-top{
    overflow-x: hidden;
}

.action-col{
    display: block;
    padding: 6px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    width: 40px;
    height: 35px;
}

.action-col svg{
    font-size: 16px;
}

.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
  }
  
  .avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
  }
  
  .el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
  }

.custom-input-filter .el-input__wrapper,.custom-input-filter .el-textarea__inner{
    box-shadow: none;
    padding: 6px 12px;
    border: 1px solid #d1d8e0;
    border-radius: 8px;
}

.custom-input-default {
    box-shadow: none;
    padding: 6px 12px;
    border: 1px solid #d1d8e0;
    outline: none;
    border-radius: 8px;
}

.custom-input-group .ant-select-selector{
    box-shadow: none;
    height: 42px !important;
    border: 1px solid #d1d8e0 !important;
    border-top-left-radius: 8px!important;
    border-bottom-left-radius: 8px!important;
}

.custom-input-group .ant-select-selection-search{
    line-height: 42px !important;
}

.custom-input-group .ant-select-selection-item{
    line-height: 38px !important;
}

.custom-input-group .ant-input{
    box-shadow: none;
    height: 42px !important;
    border: 1px solid #d1d8e0 !important;
    border-top-right-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-text-status{
    padding: 8px;
    font-size: 13px;
}

#accordionSidebar{
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
}