*{
    font-size: 14.5px;
}

.cursor-pointer{
    cursor: pointer;
}
.text-decoration-line-through{
    text-decoration: line-through;
}

.color-custom-warning{
    color: #ff9f43;
}
.color-custom-primary{
    color: #48dbfb;
}
.color-custom-success{
    color: #1dd1a1;
}
.color-custom-danger{
    color: #e74c3c;
}

#page-top{
    overflow-x: hidden;
}

.action-col{
    display: block;
    padding: 6px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    width: 40px;
    height: 35px;
}

.action-col svg{
    font-size: 16px;
}

.custom-input-filter .el-input__wrapper,.custom-input-filter .el-textarea__inner{
    box-shadow: none;
    padding: 6px 12px;
    border: 1px solid #f1f2f6;
    border-radius: 8px;
}

.custom-input-group .ant-select-selector{
    box-shadow: none;
    height: 42px !important;
    border: 1px solid #f1f2f6 !important;
    border-top-left-radius: 8px!important;
    border-bottom-left-radius: 8px!important;
}

.custom-input-group .ant-select-selection-search{
    line-height: 42px !important;
}

.custom-input-group .ant-select-selection-item{
    line-height: 38px !important;
}

.custom-input-group .ant-input{
    box-shadow: none;
    height: 42px !important;
    border: 1px solid #f1f2f6 !important;
    border-top-right-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}